.banner {
    position: absolute;
    width: 100%;
    top: 101px;
    height: 100%;
    #banner_img{
        height: 850px;
        background-position-y: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(/img-new/Bg-banner.png);
    }

    .img-banner {
        height: 50%;
    }

    .banner-inner {
        .text-Dumbbell-shop {
            font-size: 60px;
            color: @text-color;
            font-weight: 700;
            font-family: "Poppins";
            background-color: red;
        }

        .text-best-body {
            font-size: 40px;
            color: @text-color;
            font-weight: 700;
            font-family: "Poppins";
            background-color: yellow;
        }

        .text-lorem {
            font-size: 14px;
            line-height: 24px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Poppins";
            background-color: black;
        }

        .btn-shopnow {
            width: 170px;
            height: 50px;
            background-color: rgba(221, 47, 49, 0);
            border: 1px solid red;

            span {
                font-size: 14px;
                line-height: 24px;
                color: #ffffff;
                font-weight: 400;
                font-family: "Poppins";
                margin: 0 auto;
                background-color: black;

            }
        }

    }

}

.content{

    .content-slider{
        display: inline-block;
        width: 100%;
        margin-bottom: 171px;

        .banner-inner{
            .slider-left{
                margin-top: 142px;

                .text-Dumbbell-shop{
                    h2{
                        margin-left: -2px;
                        font-size: 60px;
                        color: white;
                    }
                }
                .text-best-body{
                    margin-top: -57px;
                    h3{
                        margin-left: -2px;
                        font-size: 40px;
                        color: white;
                    }
                }
                .text-lorem{
                    p{
                        margin-top: -19px;
                        color: white;
                        font-size: 14px;
                        opacity: 0.9;
                    }
                    .sub-title{
                        line-height: 1.63;
                        margin-top: -10px;
                        margin-right: 48px;
                        color: white;
                        font-size: 14px;
                        opacity: 0.9;
                    }
                }
                .btn-shopnow{
                    button{
                        background: rgba(76, 175, 80, 0.0);
                        width: 170px;
                        height: 50px;
                        color: white;
                        font-size: 13px;
                        margin-top: 59px;
                        border: 1px solid #ccc;
                        opacity: 0.9;
                        padding: 10px 20px;
                    }
                }
            }
            .slider-right{
                float: right;
                display: inline-block;
                margin-top: 95px;
                margin-right: -24px;

                img{
                    float: right
                }
            }
        }
    }
}