body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;

        a {
            text-decoration: none;
        }
    }
}

//Grid layout
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

body{
    font-family: "Poppins";
}

.text-bold{
    font-size: 18px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    -webkit-text-stroke: thin;
}



.row{
    display: flex;
    flex-wrap: wrap;
}

.table12{
    width: 100%;
    display: block;
    .col-lg12-12{
        display: block;
        float: left;
        width: 100%;
    }
    .col-lg12-11{
        display: block;
        float: left;
        width: 91.66666666667%;
    }
    .col-lg12-10{
        display: block;
        float: left;
        width: 83.33333333333%;
    }
    .col-lg12-9{
        display: block;
        float: left;
        width: 75%;
    }
    .col-lg12-8{
        display: block;
        float: left;
        width: 66.66666666667%;
    }
    .col-lg12-7{
        display: block;
        float: left;
        width: 58.33333333333%;
    }
    .col-lg12-6{
        display: block;
        float: left;
        width: 50%;
    }
    .col-lg12-5{
        display: block;
        float: left;
        width: 41.66666666667%;
    }
    .col-lg12-4{
        display: block;
        float: left;
        width: 33.33333333333%;
    }
    .col-lg12-3{
        display: block;
        float: left;
        width: 25%;
    }
    .col-lg12-2{
        display: block;
        float: left;
        width: 16.66666666667%;
    }
    .col-lg12-1{
        display: block;
        float: left;
        width: 8.33333333333%;
    }

    @media (max-width:768px) {
        .col-md12-12{
            display: block;
            float: left;
            width: 100%!important;
        }
        .col-md12-11{
            display: block;
            float: left;
            width: 91.66666666667%!important;
        }
        .col-md12-10{
            display: block;
            float: left;
            width: 83.33333333333%!important;
        }
        .col-md12-9{
            display: block;
            float: left;
            width: 75%!important;
        }
        .col-md12-8{
            display: block;
            float: left;
            width: 66.66666666667%!important;
        }
        .col-md12-7{
            display: block;
            float: left;
            width: 58.33333333333%!important;
        }
        .col-md12-6{
            display: block;
            float: left;
            width: 50%!important;
        }
        .col-md12-5{
            display: block;
            float: left;
            width: 41.66666666667%!important;
        }
        .col-md12-4{
            display: block;
            float: left;
            width: 33.33333333333%!important;
        }
        .col-md12-3{
            display: block;
            float: left;
            width: 25%!important;
        }
        .col-md12-2{
            display: block;
            float: left;
            width: 16.66666666667%!important;
        }
        .col-md12-1{
            display: block;
            float: left;
            width: 8.33333333333%!important;
        }
    }

    @media (max-width:479px) {
        .col-sm12-12{
            display: block;
            float: left;
            width: 100%!important;
        }
        .col-sm12-11{
            display: block;
            float: left;
            width: 91.66666666667%!important;
        }
        .col-sm12-10{
            display: block;
            float: left;
            width: 83.33333333333%!important;
        }
        .col-sm12-9{
            display: block;
            float: left;
            width: 75%!important;
        }
        .col-sm12-8{
            display: block;
            float: left;
            width: 66.66666666667%!important;
        }
        .col-sm12-7{
            display: block;
            float: left;
            width: 58.33333333333%!important;
        }
        .col-sm12-6{
            display: block;
            float: left;
            width: 50%!important;
        }
        .col-sm12-5{
            display: block;
            float: left;
            width: 41.66666666667%!important;
        }
        .col-sm12-4{
            display: block;
            float: left;
            width: 33.33333333333%!important;
        }
        .col-sm12-3{
            display: block;
            float: left;
            width: 25%!important;
        }
        .col-sm12-2{
            display: block;
            float: left;
            width: 16.66666666667%!important;
        }
        .col-sm12-1{
            display: block;
            float: left;
            width: 8.33333333333%!important;
        }
    }
}

.table18{
    @media (max-width:768px) {
        .col-md-05{
            display: list-item;
            float: left;
            width: 2.777777777777%!important;
            min-width: 2.777777777777%!important;
            color: white;
        }
        .col-md-18{
            display: block;
            float: left;
            width: 100%!important;
        }
        .col-md-17{
            display: block;
            float: left;
            width: 94.44444444444%!important;
        }
        .col-md-16{
            display: block;
            float: left;
            width: 88.888888888888%!important;
        }
        .col-md-15{
            display: block;
            float: left;
            width: 83.33333333333%!important;
        }
        .col-md-14{
            display: block;
            float: left;
            width: 77.77777777777%!important;
        }
        .col-md-13{
            display: block;
            float: left;
            width: 72.22222222222%!important;
        }
        .col-md-12{
            display: block;
            float: left;
            width: 66.666666666666%!important;
        }
        .col-md-11{
            display: block;
            float: left;
            width: 61.1111111111111%!important;
        }
        .col-md-10{
            display: block;
            float: left;
            width: 55.55555555555555%!important;
        }
        .col-md-9{
            display: block;
            float: left;
            width: 50%!important;
        }
        .col-md-8{
            display: block;
            float: left;
            width: 44.444444444444444%!important;
        }
        .col-md-7{
            display: block;
            float: left;
            width: 38.888888888888888%!important;
        }
        .col-md-6{
            display: block;
            float: left;
            width: 33.3333333333333333%!important;
        }
        .col-md-5{
            display: block;
            float: left;
            width: 27.77777777777777777%!important;
        }
        .col-md-4{
            display: block;
            float: left;
            width: 22.22222222222222222%!important;
        }
        .col-md-3{
            display: block;
            float: left;
            width: 16.66666666666666666%!important;
        }
        .col-md-2{
            display: block;
            float: left;
            width: 11.11111111111111111%!important;
        }
        .col-md-1{
            display: block;
            float: left;
            width: 5.555555555555555555%!important;
        }
    }
    @media (max-width:478px) {
        .col-sm-05{
            display: list-item;
            float: left;
            width: 2.777777777777%!important;
            min-width: 2.777777777777%!important;
            color: white;
        }
        .col-sm-18{
            display: block;
            float: left;
            width: 100%!important;
        }
        .col-sm-17{
            display: block;
            float: left;
            width: 94.44444444444%!important;
        }
        .col-sm-16{
            display: block;
            float: left;
            width: 88.888888888888%!important;
        }
        .col-sm-15{
            display: block;
            float: left;
            width: 83.33333333333%!important;
        }
        .col-sm-14{
            display: block;
            float: left;
            width: 77.77777777777%!important;
        }
        .col-sm-13{
            display: block;
            float: left;
            width: 72.22222222222%!important;
        }
        .col-sm-12{
            display: block;
            float: left;
            width: 66.666666666666%!important;
        }
        .col-sm-11{
            display: block;
            float: left;
            width: 61.1111111111111%!important;
        }
        .col-sm-10{
            display: block;
            float: left;
            width: 55.55555555555555%!important;
        }
        .col-sm-9{
            display: block;
            float: left;
            width: 50%!important;
        }
        .col-sm-8{
            display: block;
            float: left;
            width: 44.444444444444444%!important;
        }
        .col-sm-7{
            display: block;
            float: left;
            width: 38.888888888888888%!important;
        }
        .col-sm-6{
            display: block;
            float: left;
            width: 33.3333333333333333%!important;
        }
        .col-sm-5{
            display: block;
            float: left;
            width: 27.77777777777777777%!important;
        }
        .col-sm-4{
            display: block;
            float: left;
            width: 22.22222222222222222%!important;
        }
        .col-sm-3{
            display: block;
            float: left;
            width: 16.66666666666666666%!important;
        }
        .col-sm-2{
            display: block;
            float: left;
            width: 11.11111111111111111%!important;
        }
        .col-sm-1{
            display: block;
            float: left;
            width: 5.555555555555555555%!important;
        }
    }
    .col-lg-05{
        display: list-item;
        float: left;
        width: 2.777777777777%;
        min-width: 2.777777777777%;
        color: white;
    }
    .col-lg-18{
        display: block;
        float: left;
        width: 100%;
    }
    .col-lg-17{
        display: block;
        float: left;
        width: 94.44444444444%;
    }
    .col-lg-16{
        display: block;
        float: left;
        width: 88.888888888888%;
    }
    .col-lg-15{
        display: block;
        float: left;
        width: 83.33333333333%;
    }
    .col-lg-14{
        display: block;
        float: left;
        width: 77.77777777777%;
    }
    .col-lg-13{
        display: block;
        float: left;
        width: 72.22222222222%;
    }
    .col-lg-12{
        display: block;
        float: left;
        width: 66.666666666666%;
    }
    .col-lg-11{
        display: block;
        float: left;
        width: 61.1111111111111%;
    }
    .col-lg-10{
        display: block;
        float: left;
        width: 55.55555555555555%;
    }
    .col-lg-9{
        display: block;
        float: left;
        width: 50%;
    }
    .col-lg-8{
        display: block;
        float: left;
        width: 44.444444444444444%;
    }
    .col-lg-7{
        display: block;
        float: left;
        width: 38.888888888888888%;
    }
    .col-lg-6{
        display: block;
        float: left;
        width: 33.3333333333333333%;
    }
    .col-lg-5{
        display: block;
        float: left;
        width: 27.77777777777777777%;
    }
    .col-lg-4{
        display: block;
        float: left;
        width: 22.22222222222222222%;
    }
    .col-lg-3{
        display: block;
        float: left;
        width: 16.66666666666666666%;
    }
    .col-lg-2{
        display: block;
        float: left;
        width: 11.11111111111111111%;
    }
    .col-lg-1{
        display: block;
        float: left;
        width: 5.555555555555555555%;
    }
}