.slider-footer{
    margin-top: 44px;
    margin-bottom: 32px;
    display: flex;

    div{
        text-align: center;
        margin: auto;
    }
    .list-icon{
	        padding-bottom: 44px;
            margin-top: 30px;
            font-size: 17px;
    }
    div{
        margin-left: 27px;
        margin-right: 42px;
    }
}