.slider-footer{
    margin-top: 44px;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;

    div{
        text-align: center;
        margin: auto;
        width: 100%;
        img{
            margin-top: -4px;
            width: 73%;
        }
    }
    .list-icon{
	        padding-bottom: 44px;
            margin-top: 30px;
            font-size: 17px;
    }
    div{
        
    }
}